@page "/users"

<h1>Users</h1>

<style>
body {
background-color: lightgray;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;


}
</style>

<p>
    <NavLink class="btn btn-primary" href="create-user">
        Add User
    </NavLink>
    <NavLink class="btn btn-primary" href="create-role">
        Add Role
    </NavLink>
    <NavLink class="btn btn-primary" href="manage-role">
        Manage Roles
    </NavLink>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email/Username</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.firstName @user.lastName</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <p class="primary">@role</p>
                    }
                </td>
                <td>
                    <NavLink class="btn btn-primary" href="@($"edit-user/{user.Id}")">Edit</NavLink>
                    <NavLink class="btn btn-danger" href="@($"delete-user/{user.Id}")">Delete</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>